/vendor/
node_modules/
npm-debug.log
yarn-error.log
laravel.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot
storage/*.key
.env
.env.bkp
bk_1.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
